<div class='container'>
  <h1>Welcome</h1>

      <h4>Choose a deck or review your results:</h4>
        <% @decks.each do |deck| %>
          <%= link_to deck.category, deck_card_path(deck.id, deck.cards.first.id) %><br>
        <% end %>
    <br><br>
</div>
